@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
<div class="col text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li><a href="/First">První stránka</a></li>
        <li><a asp-page="/First">První stránka správně</a></li>
        <li><a asp-page="/User/Index">Uživatelé</a></li>
        <li><a asp-page="/User/Add">Přidání uživatele</a></li>
        <li><a asp-page="/Value" asp-route-value="0">Hodnota</a></li>
    </ul>
        @if (User.Identity?.IsAuthenticated == true)
        {
            <p>Přihlášen jako: @User.Identity.Name</p>
            <p>Role: @string.Join(", ", User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(c => c.Value))</p>
        }
</div>
<div class="col">
    @if (!User.Identity?.IsAuthenticated ?? true)
{
    <p>Pro zobrazení poznámek se prosím <a asp-page="/Account/Login" asp-area="Identity">přihlaste</a>.</p>
}
else
{
    @if (Model.Notes.Count == 0)
    {
        <p>Žádné poznámky</p>
    }
    else
    {
        @foreach (var note in Model.Notes)
        {
            <div class="card m-1">
                <div class="card-header flex-grow-1">
                    <h5 class="card-title">@note.Title</h5>
                    <a class="btn btn-sm btn-danger" asp-page="/Delete" asp-route-id="@note.NoteId">Odstranit</a>
                </div>
                <div class="card-body">
                    <p>@note.Content</p>
                </div>
            </div>
        }
        <div>
            <a asp-page="/Create" class="btn btn-primary mt-2">Přidat poznámku</a>
        </div>
     }
 }
</div>
</div>
